.settings-container {
    display: flex;
    flex-direction: column;
    align-items: center;  /* Centering horizontally */
    padding-top: 150px;    /* Adjust padding to create space below the header */
  }
  
  .settings-menu {
    display: flex;
    flex-direction: column;  /* Stack items vertically */
    align-items: center;      /* Center menu items horizontally */
    width: 100%;              /* Use full available width */
    max-width: 400px;        /* Limit maximum width for better aesthetics */
  }
  
  .menu-item {
    background-color: #f0f0f0;  /* Background color for menu items */
    padding: 15px;              /* Add some padding */
    margin: 10px 0;            /* Margin to separate items */
    width: 100%;                /* Full width of the container */
    border-radius: 8px;        /* Rounded corners */
    text-align: center;         /* Center text within item */
    cursor: pointer;            /* Change cursor to pointer on hover */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  }

  .menu-item:hover{
    background-color: #007bff70;
  }
  
  .menu-title {
    font-weight: bold;          /* Make title bold */
  }
  
  .menu-description {
    display: block;             /* Make description take full width */
    font-size: 0.9em;          /* Smaller font size for description */
  }
